@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>
        <a href="#" class="btn btn-info m" role="button">Note de frais</a>
    </h1>
    
    <br />
    <p class="jumbotron text-center"> l'Application Note De Frais permet de gérer les frais de notre Entreprise</p>
    
</div>

